@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
    4. Areas
        4.1 Home section
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

body {
    background-image: url("../../assets/bull.jpg");
    height: 100vh;
    background-position: bottom;
    background-repeat: repeat;
    background-size: cover;
    background-color: #206685;
}

/* ------------------------------- 2. Typography ----------------------------------- */

* {
    font-family: 'Overpass', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.standard-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 4px 16px;
    border: 1px solid var(--button-background-color);
    border-radius: 8px;
    font-family: 'Overpass', sans-serif;
    margin: 0 8px 20px 8px;
}

.standard-button:hover {
    cursor: pointer;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Home section ------------------------- */

.home-section {
    border: 2px solid black;
    background-color: var(--tile-background);
    border-radius: 8px;
    width: 450px;
    display: inline-block;
    margin: 120px;
    text-align: center;
}

/* ------------------------------- 5. Media Queries -------------------------------- */






