/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
    4. Areas
        4.1 Navbar text
        4.2 Navbar button
        4.3 Navbar user text
        4.4 Navbar burger menu
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

.navbar {
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: #F5A50F;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Navbar text ------------------------- */

.navbar p {
    text-align: center;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 2rem;
}

/* --------------- 4.2 Navbar button ------------------- */

.navbar-button {
    position: fixed;
    right: 36px;
    top: 6px;
    background-color: #0e1111;
    color: white;
    padding: 4px 16px;
    border: 1px solid #0e1111;
    border-radius: 8px;
    font-family: 'Overpass', sans-serif;
}

.navbar-button:hover {
    cursor: pointer;
    background: #0e1111;
}

/* --------------- 4.3 Navbar user text ------------------- */

.navbar .username {
    font-size: 1em;
    position: fixed;
    right: 140px;
    top: 6px;
}

/* --------------- 4.4 Navbar burger menu ------------------- */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 5px;
}

.bm-burger-bars {
    border-radius: 4px;
    background: #0e1111;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: white;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #343A40;
    padding: 3em 1.5em 0;
    font-size: 1.15em;
}

.bm-item-list {
    color: #b8b7ad;
    max-height: 200px;
}

.bm-item {
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    font-family: 'Overpass', sans-serif;
}

.menu-item {
    color: white;
    margin-bottom: 140px;
    text-decoration: none;
}

.menu-item.active {
    text-decoration: underline;
}

.nav-menu-list {
    margin-bottom: 6px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */











