/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
    4. Areas
        4.1 Header
        4.2 Introduction
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

.single-dog-outer-wrapper {
    height: 94vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Dog tile ------------------------- */

.single-dog-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    width: 75vw;
    height: 70vh;
    padding: 8px;
}

/* --------------- 4.2 Dog tile inner ------------------- */

.single-dog-tile h1 {
    font-size: 2em;
    margin: 30px;
}

.single-dog-tile h3 {
    margin: 5px;
}

.single-dog-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.single-dog-breed-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    text-align: left;
}

.single-dog-tile img {
    max-width: 500px;
    max-height: 400px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */






