/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
    4. Areas
        4.1 Register tile
        4.2 Error handling register tile
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

.register-user-outer-wrapper {
    height: 94vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Register tile ------------------------- */

.register-user-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    width: 50vw;
    height: 55vh;
    padding: 8px;
}

.register-user-tile h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.register-user-tile input, label {
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
}

.register-user-tile button, p {
    margin: 8px;
}

.signin-link {
    color: black;
    cursor: not-allowed;
}

/* --------------- 4.2 Error handling register tile ------------------- */

.error-message {
    color: red;
}

/* ------------------------------- 5. Media Queries -------------------------------- */




